*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: 25px;
}

h4{
    display:flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 40px;

   
}

h5{
    display:flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
p{
    margin-bottom: 20px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    margin: 10vh 10vh;
}

.s-icon i{
    font-size: 25px;
    margin: 2vh;
    color: black;
    transition: 0.3s ease;
    
}
.s-icon i:hover{
    transform: translateY(-20px);
    /* color: brown; */
    
}
.section1{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px;

}

section .hello{
    margin-bottom: 50px;
}
.btn{
    padding: 2px 27px;
    margin: 57px 0;
    border-radius: 20px;
    background-color: #f6e05e;
    letter-spacing: 3.5px;
    font-weight: bold;
    border-width: o;
}
.btn:hover{
    background-color: #ffec7e;;
    cursor: pointer;
}
.section2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
section h3{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.p-info{
    margin-left: 20px;
}


.my-services{
    display: flex;
    align-self: center;
    justify-content: space-around;
    
}

section div i{
    font-size: xx-large;
    margin-bottom: 20px;
    align-items: center;

}
.skill-1{
    display: flex;
    justify-content: center;
}
section .inner-container{

    height: 10px;
    background-color: bisque;
}


/* image  */

.img1{
    height: 500px;
    width: 500px;
}
.img2{
    height: 500px;
    width: 500px;
}

/* skill bar  */

.skills{

    width: 40%;
    max-width: 300px;
    padding: 20px 20px;
}


.skill_name{
    margin: 20px 20px;

}

.skill_bar{
    
    height: 26px;
    background-color: #faf2c3; 
    border-radius: 3px;
    border: 1px solid black;

}
.skill_per-1{
    height: 26px;
    background: #f6e05e;
    width: 90%;
}
.skill_per-2{
    height: 26px;
    background: #f6e05e;
    width: 80%;
}
.skill_per-3{
    height: 26px;
    background: #f6e05e;
    width: 70%;
}
.skill_per-4{
    height: 26px;
    background: #f6e05e;
    width: 60%;
}

.footer{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;
}
.footer1{
    margin-left: 20px;
    margin-bottom: 50px;
}
