*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: 25px;
}
p{
    margin-bottom: 20px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    margin: 10vh 10vh;
}

.s-icon i{
    font-size: 25px;
    margin: 2vh;
    color: black;
    transition: 0.5s ease;
    
}
.s-icon i:hover{
    transform: translateY(-5px);
    /* color: brown; */
    
}
.section1{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px;

}
/* .section1 div{
    margin: 20px;
} */
section .hello{
    margin-bottom: 50px;
}
.btn{
    padding: 4px 30px;
    margin: 57px 0;
    border-radius: 20px;
    background-color: #f6e05e;
    letter-spacing: 3.5px;
    font-weight: bold;
    border-width: o;
}
.btn:hover{
    background-color: #ffec7e;;
    cursor: pointer;
}
.section2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
section h3{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.p-info{
    margin-left: 20px;
}

h4{
    display:flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 40px;
   
}
.my-services{
    display: flex;
    align-self: center;
    justify-content: space-around;
    
}
/* .my-services div{
    align-items: center;
} */
section div i{
    font-size: xx-large;
    margin-bottom: 20px;
    align-items: center;

}
.skill-1{
    display: flex;
    justify-content: center;
}
section .inner-container{

    height: 10px;
    background-color: bisque;
}
h5{
    display:flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.img1{
    height: 500px;
    width: 500px;
}
.img2{
    height: 500px;
    width: 500px;
}

/* .skills{
    display: flex;
    justify-content: center;
} */
/* .skill-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.div-1{
    background-color: #f6e05e;
    height: 5vh;
    width: 20vw;

}
.div-2{
    background-color: aqua;
    height: 5vh;
    width: 20vw;
}
.div-3{
    background-color: blueviolet;
    height: 5vh;
    width: 20vw;
}
.div-4{
    background-color: cadetblue;
    height: 5vh;
    width: 20vw;
}
.inner{
    height: 5vh;
    background-color: white;
    width: 17vw;
} */
/* =============================== */
/* skill bar */
/* .skills li{
    list-style: none;
}
.skills{ */
    /* display: flex;
    justify-content: space-around; */
    /* width: 35vw;
    margin: 50px 20px;
}
.bar{
    background: #ffec7e;
    display: block;
    height: 10px;
    border: 1px solid red;
    border-radius: 5px; */
    /* overflow: hidden; */
/* }

.html{
    color: aqua;
    width: 30%;
    

} */


.skill-bar{
    display: flex;

}
.skills{
    /* display: flex;
    justify-content: center; */
    width: 40%;
    max-width: 300px;
    padding: 20px 20px;

    

}


.skill_name{
    margin: 20px 20px;

}

.skill_bar{
    
    height: 14px;
    background-color: #faf2c3; 
    border-radius: 3px;
    border: 1px solid black;

}
.skill_per-1{
    height: 14px;
    background: #f6e05e;
    width: 90%;
}
.skill_per-2{
    height: 14px;
    background: #f6e05e;
    width: 80%;
}
.skill_per-3{
    height: 14px;
    background: #f6e05e;
    width: 70%;
}
.skill_per-4{
    height: 14px;
    background: #f6e05e;
    width: 60%;
}

.footer{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;
}
.footer1{
    margin-left: 20px;
    margin-bottom: 50px;
}
